# Create new or copy to config.env
# cp sample.env config.env

## REQUIRED ( BOT Account [assistant] ) ( Bot Owner )
# Get from my.telegram.org at API development tools
API_ID=26724473
API_HASH=7bc7d1f9b2f3d3f1bfd272db56ac0ba1
BOT_SESSION=BQGXyHkALd-pJwOZttAMDyWVAp0_4YxoZt774wBadOG4YK2W9YxIbPv6MMnkAXody1MM1jYVBI0SZVYGGNQp41PJVFJvRPJKNYuWxHOiYdNCJ4CmWCRz2dDbOrGRie0x12GE1lDKEipjH4BA2AAlkpDFpCh_5n2HfgTSJ94MquD5o2dTwqKcRrW7X5uXXe7yQIyvOKW_mKC-qCWGNadAi6s0WAMjRaaPKdBXi0VoDcLIpQmTLMlgL-KfStBsY2WlQwqCGwtc3bLKk0X3C30o-HxN0T2cEuK7MzTtpdcIoPQ12du4WutXqGnDRfIgpg7Fc3PrIgyfNjpZtZlbCd36QAWmrhg6XgAAAAA4Cs_aAA
# Token From @BotFather
TGB_TOKEN=7052090377:AAGH50rOPXf3fkjvVzInbFHz8h6y_IC9nNM

## REQUIRED
# Telegram Account ID ( SESSION1 )
OWNER_ID=940232666

## REQUIRED ( Account Owner )
# Pyrogram Session
# run locally python3 -m pygen
SESSION1=
API_ID1=
API_HASH1=

# Multi Client
SESSION2=
API_ID2=
API_HASH2=

SESSION3=
API_ID3=
API_HASH3=

SESSION4=
API_ID4=
API_HASH4=

SESSION5=
API_ID5=
API_HASH5=

SESSION6=
API_ID6=
API_HASH6=

SESSION7=
API_ID7=
API_HASH7=

SESSION8=
API_ID8=
API_HASH8=

SESSION9=
API_ID9=
API_HASH9=

SESSION10=
API_ID10=
API_HASH10=

# Database SQL ( if None using LocalDB )
DATABASE_URL=postgres://thpyouro:Xt9VN1Ybhm9bs8SBk-DU6Jwd6nt_BuGn@bubble.db.elephantsql.com/thpyouro

# Log Chat ID ( Logger )
LOGCHAT_ID=-1001957425332

# Set TimeZone
TimeZone=Asia/Jakarta

## REQUIRED
# Instagram Account ( Owner )
# Instagram Username: don't using @ at.
# Instagram Secret: OAuth2 Key
IG_USN=hsjfjsjwe
IG_PASS=jdifff
IG_SECRET=jwkwnrb

# Rapid API KEY
# Get Token Api Key : https://rapidapi.com
RAPID_KEY=hajfuwieiwod
# Subscribe : https://rapidapi.com/Coinranking/api/coinranking1
# Subscribe : https://rapidapi.com/letscrape-6bRBa3QguO5/api/social-links-search

# IP Quality Score ( Malicious URL Scanner )
# Get Token Api Key : https://ipqualityscore.com
IPQUALITY_KEY=jajdjeeeejdks

# Prefix ( handler ) support . ! ? ; : ' _ - + / @
# Example PREFIX=! or list PREFIX=!,- (! and -) separated with comma.
PREFIX=.,!,?,;,:,',_,-,+,@
